@reference "tailwindcss";

:root {
  --lineargradientcolor12: linear-gradient(
    95.07deg,
    #d03059 -26.79%,
    #643cd7 113.58%
  );
  --lineargradientcolor:
    linear-gradient(white, white) padding-box,
    var(--lineargradientcolor12) border-box;
}

body {
  background: var(--color-body);
}

a,
button,
.gradient-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container {
  @apply mx-auto px-3;
}

.common-section {
  @apply py-8 md:py-12 lg:py-18.5;
}

.large-section {
  @apply py-10 md:py-16 lg:py-35;
}

.common-heading {
  @apply mb-8 md:mb-12 lg:mb-18.5;
}

.gradient-card {
  background: var(--lineargradientcolor);
  border-color: var(--color-white);
  &.body-border {
    border-color: #d9d9d9;
  }
  &:hover,
  &.active {
    border-color: transparent;
  }
}

@media (min-width: 96rem) {
  .container {
    max-width: 1172px;
  }
}
