@import "tailwindcss";

@theme inline {
  /* Breakpoints */
  --breakpoint-xl: 1196px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;

  /* Font Sizes */
  --text-56: 3.5rem;
  --text-56--line-height: 1.3;
  --text-40: 2.5rem;
  --text-40--line-height: 1.22;
  --text-xl--line-height: 1.33;
  --text-lg--line-height: 1.4;
  --text-md: 1.125rem;
  --text-md--line-height: 1.36;
  --text-base--line-height: 1.44;

  /* Spacing */
  --spacing-15: 3.75rem;
  --spacing-18_5: 4.625rem;
  --spacing-35: 8.75rem;
  --spacing-108: 27rem;
  --spacing-120: 30rem;
  --spacing-132: 33rem;
  --spacing-140: 35rem;

  /* Colors */
  --color-primary: #d03059;
  --color-secondary: #643cd7;
  --color-body: #f5f5f7;

  /* Shadows */
  --shadow-card: 0 24px 24px rgba(0, 0, 0, 0.1);
  --shadow-card-lg: 0 34px 34px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
}
